body {
	font-family: sans-serif;
	margin     : 0;
	width      : 100%;
	line-height: 1.6;
	color      : #212121;
}

.navbar {
	position        : fixed;
	top             : 0;
	background-color: #212121;
	width           : 100%;
	height          : 50px;
	z-index         : 100;
}

.container {
	max-width      : 1000px;
	margin         : 0 auto;
	padding        : 0 100px;
	display        : flex;
	justify-content: space-between;
}

.navbar__title {
	display        : block;
	color          : #fff;
	text-decoration: none;
}

.navbar__title__text {
	margin     : 0;
	font-size  : 18px;
	font-weight: 400;
	padding-top: 10px;
}

.navbar__links {
	display: flex;
}

.navbar__link {
	/*align-self: flex-end;*/
	color          : #fff;
	display        : block;
	height         : 26px;
	font-size      : 15px;
	padding        : 9px;
	text-decoration: none;
	border-top     : 3px solid #212121;
	border-bottom  : 3px solid #212121;
}

.navbar__link:hover {
	border-bottom: 3px solid #c0ca33;
	transition   : all .3s;
}

.navbar__cta {
	background   : #c0ca33;
	border-top   : 3px solid #c0ca33;
	border-bottom: 3px solid #c0ca33;
}

.navbar__cta:hover {
	/*color: #e0e0e0;*/
	background   : #c0ca33;
	border-bottom: 3px solid #212121;
}

.section {
	max-width: 800px;
	margin   : 50px auto 0;
	padding  : 0 100px;
}

.section__title {
	padding-left: 8px;
	border-left : 3px solid #c0ca33;
}

.section__p {
	max-width  : 650px;
	margin-left: 50px;
}

.section__p a {
	color: #212121;
}

.main__title {
	text-align: center;
	font-size : 2em;
	margin    : 125px auto 50px;
}

.main__img {
	display  : block;
	margin   : 0 auto;
	transform: translateX(-45px);
}

.button {
	display        : block;
	background     : #c0ca33;
	color          : #fff;
	text-decoration: none;
	width          : 130px;
	text-align     : center;
	padding        : 10px;
	border-radius  : 3px;
	border         : 1px solid #c0ca33;
	transition     : all .3s;
	margin         : 25px auto 0;
}

.button:hover {
	background: transparent;
	color     : #c0ca33;

}

.footer {
	text-align: center;
	margin-top: 50px;
	font-size : 14px;
	color     : #fff;
	background: #212121;
}

.footer a {
	color: #fff;

}
